body {
    background-color:#383836;
}
div {
    background-color:#474746;
    font-family:Arial;
    float:left;
    text-align:center;
}
#left {
    position:relative;
    margin-top:35px;
    margin-left:35px;
    margin-right:20px;
    background-color: black;
    width:385px;
    height:350px;
}
#right {
    position:relative;
    margin-top:0px;
    margin-right:20px;
    margin-left:20px;
    width:267px;
    height:500px;
}
#center {
    position:relative;
    margin-top:0px;
    margin-right:20px;
    margin-left:20px;
    width:500px;
    height:500px;
    color:#fdfdfd;
    margin-bottom: 20px;
}
#nav {
     margin-left:500px;
     margin-bottom:20px;
     padding:0;
     list-style-type:none;
     list-style-position:outside;
     position:relative;
     line-height:1.5em;
     width:auto;
     height:auto;
     background-color:#383836;  
 }
 #nav ul{
     margin: 0px;
     padding:0;
     list-style-type:none;
     list-style-position:outside;
     position:relative;
     line-height:1.5em;
     background-color:#383836;
     height:auto;
     width:1349px;
     flex-align:center;
     border-bottom: 1px solid #5d5d5c;     
 }
 #nav a:link, #nav a:active, #nav a:visited{
    display:block;
    padding:0px 5px;
    color:#fdfdfd;
    text-decoration:none;
    font-family:Candara;
    font-size:18px;
    background-color:#383836;
 }

#nav a:hover{
    color:#fdfdfd;
}
#nav li{
    float:left;
    position:relative;
}

#nav ul {
    position:absolute;
    width:12em;
    top:1.5em;
    display:none;
}

#nav li ul a{
    width:12em;
    float:left;
}

#nav ul ul{
	top:auto;
	}

#nav li ul ul {
    left:12em;
    margin:0px 0 0 0px;
    }

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
    display:none;
    }
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
    display:block;
    }
    
    #car {
    margin-left: -8px;
    margin-right: -5px;
    margin-top: 18px;
    width: 1349px;
    height: auto;
}

#line {
    height:1px;
    width:1336px;
    background-color:#fdfdfd;
    margin-top:5px;
}

#banner {
    margin-left:250px;
}

h1{
    font-family:Candara;
}

#nuts {
    width:267px;
    height:500px;
    margin-top:-16px;
}

#about {
    margin:7px;
}
